.user-container, .owner-container {
    width: 80vw;
    border: solid .5px rgb(218, 206, 206);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
    min-height: 18vh;
    font-family: "mulish";
    font-weight: 700;
    font-size: 40px;
}