.question-box {
    width: 90vw;
    border: solid .5px rgb(218, 206, 206);
    border-radius: 10px;
}

.reply-container {
    width: 85vw;
    border: solid .5px rgb(218, 206, 206);
    border-radius: 10px;
}

.reply-text {
    width: 75vw;
}

