@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root[class="light"] {
        --colors-primary: 207 111 90;
        --colors-secondary: 207 111 90;
        --colors-accent: 123 62 55;
        --colors-bkg: 251 246 246;
        --colors-text: 67 64 64;
        --colors-userContent:  254 244 244;
        --colors-ownerContent: 254 238 238;
        --colors-hearts: 207 111 90;
        --colors-textarea: 240 240 240;
        --colors-gray: 67 66 66;
        --colors-main: 203 116 87;
    }

    :root[class="dark"] {
        --colors-primary: 204 138 127;
        --colors-secondary: 248 238 237;
        --colors-accent: 182 87 73;
        --colors-bkg: 32 32 35;
        --colors-text: 248 238 237;
        --colors-userContent: 254 246 246;
        --colors-ownerContent: 239 220 220;
        --colors-hearts: 32 32 35;
        --colors-textarea: 32 32 35;
        --colors-main: 13 13 13;
        --colors-gray: 124 124 124;
    }
}

/* Default styling for light mode */
body {
    --background-light: rgb(var(--colors-bkg));
    --text-light: rgb(var(--colors-text));
    --accent-dark: rgb(var(--colors-accent));
}

/* Light mode styling */
body {
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Dark mode enabled */
body.dark {
    --background-dark: rgb(var(--colors-bkg));
    --text-dark: rgb(var(--colors-text));
    --accent-dark: rgb(var(--colors-accent));
}

/* Dark mode styling */
body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);

}
