@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root[class="light"] {
        --colors-primary: 204 138 127;
        --colors-secondary: 223 188 185;
        --colors-accent: 123 62 55;
        --colors-bkg: 253 243 241;
        --colors-text: 9 4 4;
        --userContent: 223 188 185;
        --OwnerContent: 223 188 185;
    }
  
    :root[class="dark"] {
     --colors-primary: 204 138 127; 
      --colors-secondary: 233 205 200;
      --colors-accent: 182 87 73;
      --colors-bkg: 9 2 1;
      --colors-text: 248 238 237;
      --userContent: 180 159 142;
      --OwnerContent: 163 141 119;
    }
  }
  
  /* Default styling for light mode */
  body {
    --background-light: rgb(var(--colors-bkg));
    --text-light: rgb(var(--colors-text));
    /* Add other styles using your custom variables for light mode */
  }
  
  /* Dark mode enabled */
  body.dark {
    --background-dark: rgb(var(--colors-bkg));
    --text-dark: rgb(var(--colors-text));
    /* Add other styles using your custom variables for dark mode */
  }
  
  /* Apply the background and text colors to your elements */
  body {
    background-color: var(--background-light);
    color: var(--text-light);
  }
  
  /* Dark mode styling */
  body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
    /* Add other dark mode styles here */
  }
  
  /* Add other styles using the custom variables for your elements */
  